<p>
<a class="Human" href="https://twitter.com/kpfrahm">Klaus Peter Frahm</a>
(<a class="Company" href="http://www.newsaktuell.de">news aktuell</a>),
<a class="Human" href="https://twitter.com/wowo101">Wolfgang Wopperer-Beholz</a> (<a  class="Company" href="http://mindmatters.de">mindmatters</a>) and
<a class="Human" href="https://twitter.com/rockitbaby">Michael Schieben</a> (<a class="Company" href="http://precious-forever.com/">precious</a>) &middot; <a href="http://precious-forever.com/impressum">Impressum</a>
</p>