{{> content-intro}}

<div class="Intro-small">
<p>
The Product Field helps you
</p>
<ul>
<li>identify and describe your product’s core attributes, guiding you to hone your product and its value proposition;</li>

<li>map and evaluate the context of your product, providing actionable insights into how to enhance your capabilities and development process;</li>

<li>determine and understand the character of your innovation, revealing the big picture of forces that push and pull it towards success.</li>
</ul>
</div>