<div class="row">
  <div class="one-third column">
    <div class="Action-content">
      <a href="http://hamburg.betahaus.de/betahaus-education-hands-on-product-field">
        <i class="fa fa-ticket"></i><br>
        Join our Workshops
      </a>
      <p>Together we work with the Product Field</p>
    </div>
  </div>
  <div class="one-third column">
    <div class="Action-content">
      <a href="https://twitter.com/intent/tweet?url=http://www.productfield.com&amp;text=Hello+@theproductfield&amp;hashtags=productfield">
        <i class="fa fa-twitter"></i><br>
        Say Hi on Twitter
      </a>
      <p>We appreciate every tweet sent by early birds.</p>
    </div>
  </div>
  <div class="one-third column">
    <div class="Action-content">
      <a href="http://eepurl.com/boGXb9">
        <i class="fa fa-envelope-o"></i><br>
        Subscribe to our mailing list
      </a>
      <p>We will occasionally send updates about new content and events</p>
    </div>
  </div>
</div>