<h2>Timeline</h2>

  <div class="row">
    <div class="three columns Task-time">
      Jan 2016
    </div>
    <div class="nine columns">
      The Product Field Guide
    </div>
  </div>

  <div class="row">
    <div class="three columns Task-time">
      September
    </div>
    <div class="nine columns">
      The Product Field at next media accelerator · 
      <a href="http://www.nma.vc/2015/10/meet-our-mentors-wolfgang-and-tim-from-product-field/">Read more</a>
    </div>
  </div>
  <div class="row">
    <div class="three columns Task-time">
      August
    </div>
    <div class="nine columns">
      The Core-Context-Fit (german language) ·
      <a href="http://www.produktbezogen.de/core-context-fit-und-product-field/">Weiterlesen</a>
    </div>
  </div>

  <div class="row">
    <div class="three columns Task-time">
      July
    </div>
    <div class="nine columns">
      The Product Field Talk · 
      <a href="https://vimeo.com/134739467">Watch on Vimeo</a>
    </div>
  </div>

  <div class="row">
    <div class="three columns Task-time">
      July
    </div>
    <div class="nine columns">
      A slack channel for questions, feedback and discussion  · 
      <a href="mailto:info@productfield.com">Request Invite</a>
    </div>
  </div>
  <div class="row">
    <div class="three columns Task-time">
      June 15 + 23
    </div>
    <div class="nine columns">
      <a href="http://hamburg.betahaus.de/betahaus-education-hands-on-product-field">Workshop: Hands-on Product Field</a>
    </div>
  </div>
  <div class="row">
    <div class="three columns Task-time">
      June 3
    </div>
    <div class="nine columns">
      Presentation at <a href="https://www.xing.com/events/product-tank-hamburg-june-2015-1559097">#producttankhh</a>, Hamburg · <a href="https://storify.com/rockitbaby2/the-product-field-premiere">On Storfiy</a>
    </div>
  </div>
  <div class="row">
    <div class="three columns Task-time">
      May 27
    </div>
    <div class="nine columns">
      Publish productfield.com
    </div>
  </div>