.handle {
  padding-top: 0;
  width:22px;
  height:22px;
  border: 1px solid lightgray;
  background-color: #fff;
  border-radius: 25px;
  cursor: pointer;
  left:11px;
}

.handle.active {
    background-color: lightgrey;
}

.slider {
    height: 257px;
    width: 46px;
    border: 1px solid lightgrey;
    background-color: #fff;
    border-radius: 4px;
}

.bar {
    position: relative;
    background: #ddd;
    width: 4px;
    left:20px;
    top:5px;
    bottom:5px;
}

/*.bar.bar-1 {
    background: #f00;
}
.bar.bar-2 {
    background: #0f0;
}*/
