.handle {
  padding-top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid lightgray;
  background-color: #fff;
  border-radius: 25px;
  cursor: pointer;
  left: 8px;
}

.handle.active {
    background-color: lightgrey;
}

.slider {
    height: 230px;
    width: 35px;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px 0px 6px -2px rgba(128,128,128,1);
}

.bar {
    position: relative;
    background: #ddd;
    width: 4px;
    left: 16px;
    top: 15px !important;
    bottom: 15px !important;
    border-radius: 90px !important;
}

.sliderWrapper {
  height:265px;
  max-height:255px;
  margin-left:15px;
  margin-top: 25px;
}

.sliderAddition {
  background-color: #ddd;
  width: 35px;
  height: 25px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 3px 6px -2px rgba(128,128,128,1);
  border-top: 1px lightgrey solid;
  text-align: center;
}

/*.bar.bar-1 {
    background: #f00;
}
.bar.bar-2 {
    background: #0f0;
}*/
