.editingPane {
  position: absolute;
  top: calc(230px / -2);
  left: calc(36px / 2);
  height: calc(230px + 25px);
  margin-left: 5px;
}

.sliderAddition {
  display: flex;
  align-items: center;
  width: 35px;
  height: 25px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 3px 6px -2px rgba(128,128,128,1);
  border-top: 1px lightgrey solid;
  box-sizing: border-box;
  text-align: center;
}

.sliderAdditionDark {
  composes: sliderAddition;
  background-color: #515151;
  border-top: 1px #494949 solid;
}

.sliderAdditionLight {
  composes: sliderAddition;
  background-color: #DDDDDD;
}

.sliderAdditionIconWrapper {
  width: 17.5px;
  margin: 0 auto;
  text-align: center;
}

.sliderAdditionIcon {
  width: 14px;
  cursor: pointer;
}
